html, body, #root {
  height: 100%;
  margin: 0;
}

#map {
  height: 100%;
  width: 100%;
}

#root > div {
  height: 100%;
}

button.drop-pin {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  padding: 8px 12px;
}
